.node-type-data-snapshot .group-right,
.node-type-data-snapshot .field_dssds_title,
.node-type-data-snapshot .ui-accordion,
.node-type-data-snapshot .ui-accordion .ui-accordion-header {
    font-family: 'Segoe UI', Arial, sans-serif;
}

.node-type-data-snapshot .ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    display: none;
}

.node-type-data-snapshot .hidden {
    display: none;
}

.dss-text-wrapper {
    padding-top: 7px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.dss-selector-wrapper {
    padding-top: 6px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.dss-interactive-slider-label {
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
}

.dss-question-read-more a {
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.dss-downloads-toggle.jqx-button {
    margin-top: 2px;
    padding: 4px 3px;
}

.dss-downloads-popup {
    width: 319px;
    height: 219px;
    display: none;
    background-color: #DADBDC;
    border: 1px solid #fff;
    border-radius: 7px;
    -webkit-box-shadow: 0px 5px 5px #888;
    -moz-box-shadow: 0px 5px 5px #888;
    box-shadow: 0px 5px 5px #888;
    position: absolute;
    top: 200px;
    left: 170px;
}

.dss-downloads-label {
    height: 10px;
    position: absolute;
    top: 0px;
    left: 30px;
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: oblique;
    background-color: #DADBDC;
    padding: 10px;
    color: #333;
}

.dss-downloads-options {
    width: 284px;
    height: 150px;
    padding: 12px 30px 20px;
    border: 1px solid #444;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.dss-downloads-options > div {
    height: 25px;
    color: #000;
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
}

.dss-downloads-radio {
    display: none;
}

.dss-downloads-buttons {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}

.dss-downloads-toggle {
    float: right;
}

.node-type-data-snapshot #region-content .group-header h2 {
    display: inline-block;
    width: 69%;
    margin-top: -2px;
    margin-bottom: 9px;
    padding-left: 6px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 28px;
}

.dss-spacer {
    height: 7px;
    background-color: #787878;
}

.addthis_toolbox .at300b {
    margin-right: 2px;
}

.field .field-label.permalink {
    color: #fff;
    font-weight: normal;
}

.field-name-field-ds-stk, .field-name-field-ds-ptk {
    position: relative;
    width: 496px;
    height: 18px;
}

.dss-question-read-more a {
    color: #1a1a1a !important;
}

#zone-postscript-wrapper {
    margin-top: 20px !important;
}

.node-type-data-snapshot .field-name-body {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #aaa;
    padding: 12px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 91px;
    overflow: hidden;
}

.node-type-data-snapshot .field-name-body.expanded {
    height: auto;
    min-height: 93px;
}

.node-type-data-snapshot .field-name-body .field-items {
    max-height: 18px;
}

.node-type-data-snapshot .field-name-body.expanded .field-items {
    max-height: 320px;
    overflow: scroll;
}

.node-type-data-snapshot .field-name-body .field-label.hidden,
.node-type-data-snapshot .field-name-body .annotation-toggle-wrapper.hidden {
    display: none;
}

.node-type-data-snapshot .field-name-body .field-label,
.node-type-data-snapshot .field-name-body .field-items p {
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.node-type-data-snapshot .field-name-body .field-label {
    font-weight: bold;
    font-style: oblique;
    color: #000;
}

.node-type-data-snapshot .field-name-body .field-items p {
    font-weight: normal;
    color: #333;
    line-height: 14px;
}

.node-type-data-snapshot .field-name-body .field-items {
    min-height: 30px;
    overflow: hidden;
}

.node-type-data-snapshot .field-name-body.expanded .field-items {
    height: auto;
}

.annotation-toggle-wrapper {
    text-align: right;
    color: #000;
    font-size: 12px;
    cursor: pointer;
}

.jqx-slider {
    position: absolute;
    left: 73px;
    clear: none !important;
    margin-left: 13px;
    margin-right: 13px;
}

.dss-short-summary-text {
    display: inline;
    font-size: 12px;
    font-weight: normal;
    color: #333;
    line-height: 14px;
}

.dss-short-summary-read-more {
    font-size: 12px;
    font-weight: bold;
    color: #333;
    line-height: 14px;
    cursor: pointer;
}

.dss-accordion .ui-accordion .ui-accordion-header {
    padding-top: 3px;
    padding-bottom: 5px;
    padding-left: .7em;
    font-size: 14px;
}

.ui-accordion .ui-accordion-header.ui-state-default {
    border: 1px solid #666;
    background: #555 url(images/ui-bg_glass_20_555555_1x400.png) 50% 50% repeat-x;
    font-weight: bold;
    color: #eee;
}

.ui-accordion .ui-accordion-header.ui-state-active {
    background: #565656;
    font-weight: bold;
    color: #fff;
}

.field-name-field-ds-stk, .field-name-field-ds-ptk {
    float: left;
}

.field-name-field-ds-stk .field-label, .field-name-field-ds-ptk .field-label {
    width: 40px;
    text-align: right;
    color: #fff;
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
}

.field-name-field-ds-ptk .field-label {
    margin-bottom: 2px;
}

.field-name-field-ds-stk .field-label {
    margin-bottom: 1px;
}

.ui-accordion-content div {
    border: 1px solid #888;
    height: 25px;
    background-color: #888888;
    color: #fff;
    padding-left: 30px;
    padding-top: 0px;
    display: block;
    border-bottom: thin solid #666;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 97% 2px;
}

.conus {
    background-image: url("images/conusIcon.png");
}

.global {
    background-image: url("images/globalIcon.png");
}

.ui-accordion-content div.active {
    background-color: #aaa;
}

.dss-interactive-slider-start-label {
    left: 40px;
    margin-left: 13px;
    text-align: right;
}

.dss-interactive-slider-end-label {
    left: 479px;
}

.dss-text-wrapper {
    display: none;
}

.dss-selector-wrapper {
    height: 100%;
    position: relative;
}

.dss-short-summary-wrapper {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: #aaa;
    height: 91px;
    padding: 12px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.dss-short-summary-title {
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: oblique;
    color: #000;
}

.dss-accordion .ui-accordion .ui-accordion-content {
    padding: 0;
}

.dss-accordion .ui-corner-all, .dss-accordion .ui-corner-top, .dss-accordion .ui-corner-right, .dss-accordion .ui-corner-tr {
    border-top-right-radius: 0;
}

.dss-accordion .ui-corner-all, .dss-accordion .ui-corner-top, .dss-accordion .ui-corner-left, .dss-accordion .ui-corner-tl {
    border-top-left-radius: 0;
}

.dss-accordion .ui-corner-all, .dss-accordion .ui-corner-bottom, .dss-accordion .ui-corner-right, .dss-accordion .ui-corner-br {
    border-bottom-right-radius: 0;
}

.dss-accordion .ui-corner-all, .dss-accordion .ui-corner-bottom, .dss-accordion .ui-corner-left, .dss-accordion .ui-corner-bl {
    border-bottom-left-radius: 0;
}

.node-type-data-snapshot #block-system-main {
    padding: 8px 8px 11px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: .7em;
    background: #404952;
    color: #fff;
    -moz-box-shadow: 0 0 5px #404952;
    box-shadow: 0 0 5px #404952;
}

.group-header {
    position: relative;
    height: 39px;
}

.field-name-title {
    display: inline-block;
}

.field-name-title h2 {
    padding-bottom: .5em;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    line-height: normal;
}

#dss-tabs-wrapper {
    width: 31%;
    background: #dadbdc url(images/dss-accent4.png) 0px 0px no-repeat;
    height: 100%;
    display: inline-block;
    vertical-align: bottom;
    position: absolute;
    text-align: center;
    border-top-right-radius: 6px;
    padding-top: 8px;
    padding-left: 48px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
}

.dss-tab {
    display: inline-block;
    width: 102px;
    vertical-align: bottom;
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    font-weight: 800;
    text-align: center;
    padding: 3px 3px 6px 3px;
    cursor: pointer;
    background: #555555 url(images/ui-bg_glass_20_555555_1x400.png) 50% 50% repeat-x;
    border: 1px solid #666;
}

#dss-tabs-maps {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

#dss-tabs-description {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.dss-tab.active {
    background: #f58400 url(images/ui-bg_inset-soft_30_f58400_1x100.png) 50% 50% repeat-x;
    border-color: #ffaf0f;
}

.group-left {
    background-color: #fff;
    min-height: 469px;
}

.field-name-field-ds-disimg {
    width: 100%;
    height: 469px;
    display: table;
    text-align: center;
}

.field-name-field-ds-disimg > .field-items {
    display: table-cell;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.field_dssds_title {
    margin-top: 4px;
    font-size: 18px;
    font-weight: bold;
    color: #1a1a1a;
}

.field-name-field-ds-dsds-evergreen .field_dssds_framing_question, .field-name-field-ds-dsds-evergreen .field_dssds_secondary_questi {
    font-size: 13px;
    color: #1a1a1a;
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    line-height: 14px;
}

.secondary_questi_wrapper {
    position: absolute;
    top: 228px;
    padding-right: 1em;
}

.field-name-field-ds-dsds-evergreen .field_dssds_framing_question {
    margin-top: 15px;
}

.field-name-field-ds-dsds-evergreen .field_dssds_framing_q_answer,
.field-name-field-ds-dsds-evergreen .field_dssds_secondary_questi {
    margin-top: 12px;
}

.field_dssds_framing_q_answer p, .field_dssds_secondary_q_answ p {
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: #1A1A1A;
}

.group-right {
    height: 469px;
    overflow: hidden;
    background: #dadbdc;
    position: relative;
}

.group-footer {
    padding-top: 10px;
}

#node_data_snapshot_full_group_dss_sliders {
    float: left;
    width: 627px;
    height: 51px;
    position: relative;
    padding: 9px 15px .5em 1em;
    border-radius: 9px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #303841;
}

/**
OLD CONTENT BELOW. NEEDS TO BE PRUNED AND RE-WRITTEN
**/

/* Data Snapshots
 * Copyright 2014 University of North Carolina at Asheville
 * Released under the MIT license
 */
.node-type-data-snapshot #page-title {
    display: none;
}

.node-type-data-snapshot .view-mode-full.node-data-snapshot .group-left {
    width: 69%;
}

.node-type-data-snapshot .view-mode-full.node-data-snapshot .group-right {
    float: left;
    width: 31%;
}

.node-type-data-snapshot .field-name-field-ds-dsds-evergreen {
    max-height: 373px;
    overflow: auto;
    padding-left: 1em;
    padding-right: 1em;
}

.node-type-data-snapshot .field-name-field-ds-dsds-evergreen p {
    margin-bottom: 0;
}

.node-type-data-snapshot .dss-question-read-more {
    float: right;
    margin-top: 3px;
}

.node-type-data-snapshot #region-content .field-name-field-ds-dloads button {
    font-size: 12px;
}

.node-type-data-snapshot #region-content .field-name-field-ds-dloads li {
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;
}

/******************************************************************/

.dss-interactive-sliders .dss-interactive-component {
    position: relative;
    height: 30px;
}

.dss-interactive-slider-wrapper {
    position: relative;
    left: 10%;
    width: 90%;
    height: 100%;
}

.dss-interactive-label, .dss-interactive-slider {
    float: left;
}

.dss-interactive-slider.ui-slider {
    position: absolute;
    width: 100%;
    border: 1px solid #aaaaaa;
}

.dss-interactive-slider-label {
    float: left;
    width: 20px;
    position: absolute;
    font-size: 9px;
    font-weight: bold;
    white-space: nowrap;
}

.dss-interactive-slider-region-disabled {
    position: absolute;
    height: .8em;
    background-color: #ccc;
}

.dss-interactive-slider-tickmarks {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.dss-interactive-slider-tickmarks span {
    position: absolute;
    width: 1px;
    height: 3px;
    float: left;
    background-color: #aaa;
}

#dss-interactive-slider-region-disabled-left {
    left: 0;
}

#dss-interactive-slider-region-disabled-right {
    right: 0;
}

.dss-interactive-slider-popup {
    position: absolute;
    top: -108%;
    border-radius: .5em;
    padding: 2px;
    font-family:  Segoe UI, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: 800;
    background-color: #000;
    opacity: 0.6;
    z-index: 20;
    white-space: nowrap;
    display: none;
}

.dss-interactive-slider-popup-active {
    display: inline-block !important;
}

/******************************************/
.node-type-data-snapshot .field-name-field-ds-dloads {
    float: right;
}

.node-type-data-snapshot .field-name-add-this {
    float: left;
    margin-left: 4%;
    margin-right: 1.5em;
}

.addthis_toolbox {
    margin-top: 0 !important;
}

.node-type-data-snapshot .field-name-data-snapshot-permalink {
    float: left;
}

.node-type-data-snapshot .field-name-field-ds-dtgen,
.node-type-data-snapshot .field-name-field-ds-dloads {
    clear: both;
}



/* DEV FOR JOHN KECKS THEME */
/* REMOVE THIS IN LIVE VERSION */

.page-node .col-2-left {
    display: none;
}

.page-node .region-content.grid-9 {
    width: 940px;
}

/* END JOHN KECKS THEME */

/******************************************************************/
/*!
 * Bootstrap v3.0.0
 *
 * Copyright 2013 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */

/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
.node-type-data-snapshot .field-name-field-ds-dloads a:focus {
  outline: thin dotted;
}
.node-type-data-snapshot .field-name-field-ds-dloads a:active,
.node-type-data-snapshot .field-name-field-ds-dloads a:hover {
  outline: 0;
}
.node-type-data-snapshot .field-name-field-ds-dloads button {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
.node-type-data-snapshot .field-name-field-ds-dloads button {
  line-height: normal;
}
.node-type-data-snapshot .field-name-field-ds-dloads button {
  text-transform: none;
}
.node-type-data-snapshot .field-name-field-ds-dloads button {
  -webkit-appearance: button;
  cursor: pointer;
}
.node-type-data-snapshot .field-name-field-ds-dloads button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.node-type-data-snapshot .field-name-field-ds-dloads.btn-group,
.node-type-data-snapshot .field-name-field-ds-dloads.btn-group *,
.node-type-data-snapshot .field-name-field-ds-dloads.btn-group:before,
.node-type-data-snapshot .field-name-field-ds-dloads.btn-group *:before,
.node-type-data-snapshot .field-name-field-ds-dloads.btn-group:after,
.node-type-data-snapshot .field-name-field-ds-dloads.btn-group *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.node-type-data-snapshot .field-name-field-ds-dloads button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.node-type-data-snapshot .field-name-field-ds-dloads button {
  background-image: none;
}
.node-type-data-snapshot .field-name-field-ds-dloads a {
  color: #428bca;
  text-decoration: none;
}
.node-type-data-snapshot .field-name-field-ds-dloads a:hover,
.node-type-data-snapshot .field-name-field-ds-dloads a:focus {
  color: #2a6496;
  text-decoration: underline;
}
.node-type-data-snapshot .field-name-field-ds-dloads a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.node-type-data-snapshot .field-name-field-ds-dloads .btn {
  display: inline-block;
  padding: 3px 6px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.node-type-data-snapshot .field-name-field-ds-dloads .btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.node-type-data-snapshot .field-name-field-ds-dloads .btn:hover,
.node-type-data-snapshot .field-name-field-ds-dloads .btn:focus {
  color: #333333;
  text-decoration: none;
}
.node-type-data-snapshot .field-name-field-ds-dloads .btn:active,
.node-type-data-snapshot .field-name-field-ds-dloads .btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.node-type-data-snapshot .field-name-field-ds-dloads .btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}
.node-type-data-snapshot .field-name-field-ds-dloads .btn-default:hover,
.node-type-data-snapshot .field-name-field-ds-dloads .btn-default:focus,
.node-type-data-snapshot .field-name-field-ds-dloads .btn-default:active,
.node-type-data-snapshot .field-name-field-ds-dloads .btn-default.active,
.node-type-data-snapshot .field-name-field-ds-dloads.open .dropdown-toggle.btn-default {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}
.node-type-data-snapshot .field-name-field-ds-dloads .btn-default:active,
.node-type-data-snapshot .field-name-field-ds-dloads .btn-default.active,
.node-type-data-snapshot .field-name-field-ds-dloads.open .dropdown-toggle.btn-default {
  background-image: none;
}
.node-type-data-snapshot .field-name-field-ds-dloads .btn-default .caret {
  border-top-color: #333333;
}
.node-type-data-snapshot .field-name-field-ds-dloads.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.node-type-data-snapshot .field-name-field-ds-dloads.btn-group > .btn {
  position: relative;
  float: left;
}
.node-type-data-snapshot .field-name-field-ds-dloads.btn-group > .btn:hover,
.node-type-data-snapshot .field-name-field-ds-dloads.btn-group > .btn:focus,
.node-type-data-snapshot .field-name-field-ds-dloads.btn-group > .btn:active,
.node-type-data-snapshot .field-name-field-ds-dloads.btn-group > .btn.active {
  z-index: 2;
}
.node-type-data-snapshot .field-name-field-ds-dloads.btn-group > .btn:focus {
  outline: none;
}
.node-type-data-snapshot .field-name-field-ds-dloads.btn-group .btn + .btn,
.node-type-data-snapshot .field-name-field-ds-dloads.btn-group .btn + .btn-group,
.node-type-data-snapshot .field-name-field-ds-dloads.btn-group .btn-group + .btn,
.node-type-data-snapshot .field-name-field-ds-dloads.btn-group .btn-group + .btn-group {
  margin-left: -1px;
}
.node-type-data-snapshot .field-name-field-ds-dloads.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}
.node-type-data-snapshot .field-name-field-ds-dloads.btn-group > .btn:first-child {
  margin-left: 0;
}
.node-type-data-snapshot .field-name-field-ds-dloads.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.node-type-data-snapshot .field-name-field-ds-dloads.btn-group > .btn:last-child:not(:first-child),
.node-type-data-snapshot .field-name-field-ds-dloads.btn-group > .dropdown-toggle:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.node-type-data-snapshot .field-name-field-ds-dloads.btn-group > .btn-group {
  float: left;
}
.node-type-data-snapshot .field-name-field-ds-dloads.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}
.node-type-data-snapshot .field-name-field-ds-dloads.btn-group > .btn-group:first-child > .btn:last-child,
.node-type-data-snapshot .field-name-field-ds-dloads.btn-group > .btn-group:first-child > .dropdown-toggle {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.node-type-data-snapshot .field-name-field-ds-dloads.btn-group > .btn-group:last-child > .btn:first-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.node-type-data-snapshot .field-name-field-ds-dloads.btn-group .dropdown-toggle:active,
.node-type-data-snapshot .field-name-field-ds-dloads.btn-group.open .dropdown-toggle {
  outline: 0;
}
.node-type-data-snapshot .field-name-field-ds-dloads.btn-group > .btn + .dropdown-toggle {
  padding-left: 8px;
  padding-right: 8px;
}
.node-type-data-snapshot .field-name-field-ds-dloads.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.node-type-data-snapshot .field-name-field-ds-dloads .btn .caret {
  margin-left: 0;
}
.node-type-data-snapshot .field-name-field-ds-dloads .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-bottom: 0 dotted;
  content: "";
}
.node-type-data-snapshot .field-name-field-ds-dloads .dropdown {
  position: relative;
}
.node-type-data-snapshot .field-name-field-ds-dloads .dropdown-toggle:focus {
  outline: 0;
}
.node-type-data-snapshot .field-name-field-ds-dloads .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0 !important;/*remove important later*/
  margin: 2px 0 0 !important;/*remove important later*/
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.node-type-data-snapshot .field-name-field-ds-dloads .dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}
.node-type-data-snapshot .field-name-field-ds-dloads .dropdown-menu > li > a:hover,
.node-type-data-snapshot .field-name-field-ds-dloads .dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: #428bca;
}
.node-type-data-snapshot .field-name-field-ds-dloads .dropdown-menu > .active > a,
.node-type-data-snapshot .field-name-field-ds-dloads .dropdown-menu > .active > a:hover,
.node-type-data-snapshot .field-name-field-ds-dloads .dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}
.node-type-data-snapshot .field-name-field-ds-dloads .dropdown-menu > .disabled > a,
.node-type-data-snapshot .field-name-field-ds-dloads .dropdown-menu > .disabled > a:hover,
.node-type-data-snapshot .field-name-field-ds-dloads .dropdown-menu > .disabled > a:focus {
  color: #999999;
}
.node-type-data-snapshot .field-name-field-ds-dloads .dropdown-menu > .disabled > a:hover,
.node-type-data-snapshot .field-name-field-ds-dloads .dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.node-type-data-snapshot .field-name-field-ds-dloads.open > .dropdown-menu {
  display: block;
}
.node-type-data-snapshot .field-name-field-ds-dloads.open > a {
  outline: 0;
}
.node-type-data-snapshot .field-name-field-ds-dloads .dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990;
}

/* needed for dev. Will be provided by live site */
.node-type-data-snapshot-data-source #page-title {
    display: none;
}

.article-info {
    padding: 1em;
    padding: 1em;
    width: 30%;
    height: 426px;
    border: 5px solid #f4f4f4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 5px 0 #aaa;
    -moz-box-shadow: 0 0 5px 0 #aaa;
    box-shadow: 0 0 5px 0 #aaa;
    -o-border-radius: 5px;
}
/* end needed for dev */

/* john keck's theme */
.group-right.article-info {
    height: auto;
}

.node-type-page .col-2-left {
    display: none;
}

.page-node .region-inner .group-right {
    float: right;
    width: 29%;
}

.page-node .region-inner .group-left {
    float: left;
    width: 63%%;
}

.node-type-data-snapshot-data-source .container-12 .grid-9 {
    width: auto !important;
}

#page-title {
    display: none;
}

.page-data-snapshot-annotation-admin-view .container-12 .grid-9 {
    width: 100% !important;
}

.html button {
    text-shadow: none;
}

/* end john keck's theme */
