.node-type-data-snapshot .view-mode-full.node-data-snapshot .group-left {
    width: 66%;
}

.node-type-data-snapshot .view-mode-full.node-data-snapshot .group-right {
    float: left;
    width: 32%;
    margin-left: 2%;
}

.node-type-data-snapshot .field-name-field-ds-dsds-evergreen {
    padding-bottom: 1.4em;
}

.node-type-data-snapshot .field-name-field-ds-dsds-evergreen p {
    margin-bottom: 0;
}

.dss-wrapper {
  /*background-color: #f00;*/
  width: 940px;
}

.dss-header {
  /*background-color: #f00;*/
  margin: 5px;
}

.dss-middle {
  /*background-color: #0f0;*/
  position: relative;
  height: 475px;
}

.dss-footer {
  /*background-color: #00f;*/
}

.dss-left-side {
  position: absolute;
  top: 50;
  left: 0;
  width: 620px !important;
  margin: 5px;
}

.dss-right-side {
  position: absolute;
  top: 50;
  right: 0;
  width: 300px !important;
  margin: 5px;
}

.dss-title {
  font-weight: bold;
  font-size: 16pt;
}

.dss-evergreen-question {
  margin-top: 5px;
  margin-bottom: 5px;
  font-style: italic;
  font-size: 14pt;
}

.dss-question-read-more {
  float: right;
}

.dss-evergreen-answer {
  margin-left: 15px;
}

.dss-download-social-container {
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.dss-downloads {
  display: inline-block;
  vertical-align: center;
}

.dss-social {
  float: right;
  display: inline-block;
  vertical-align: center;
}

.dss-about-this-date {
  font-weight: bold;
}

/******************************************************************/

#dss-timeslider, #dss-yearslider {
  position: absolute;
  width: 100%;
}

#dss-timeslider-row {
  margin-top: 20px;
}

.dss-interactive-slider-label {
    position: absolute;
    font-size: .7em;
    bottom: 0;
}

.dss-interactive-slider-start-label {
    left: 0;
}

.dss-interactive-slider-end-label {
    right: 0;
}

.dss-interactive-slider-popup {
    position: absolute;
    top: -108%;
    border: 2px solid #369;
    border-radius: .5em;
    padding: 2px;
    background-color: #fff;
    display: none;
}

.dss-interactive-slider-popup-active {
    display: inline-block !important;
}

.dss-interactive-slider-popup:after {
    position: absolute;
    top: 100%;
    left: 35%;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top-color: #369;
    content: ' '
}
/******************************************************************/
/*!
 * Bootstrap v3.0.0
 *
 * Copyright 2013 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */

/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
button {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button {
  line-height: normal;
}
button {
  text-transform: none;
}
button {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled] {
  cursor: default;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.btn-group,
.btn-group *,
.btn-group:before,
.btn-group *:before,
.btn-group:after,
.btn-group *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button {
  background-image: none;
}
a {
  color: #428bca;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #2a6496;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #ffffff;
  border-color: #cccccc;
}
.btn-default .caret {
  border-top-color: #333333;
}
.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.btn-group > .btn {
  position: relative;
  float: left;
}
.btn-group > .btn:hover,
.btn-group > .btn:focus,
.btn-group > .btn:active,
.btn-group > .btn.active {
  z-index: 2;
}
.btn-group > .btn:focus {
  outline: none;
}
.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-left: -1px;
}
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}
.btn-group > .btn:first-child {
  margin-left: 0;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.btn-group > .btn-group {
  float: left;
}
.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}
.btn-group > .btn-group:first-child > .btn:last-child,
.btn-group > .btn-group:first-child > .dropdown-toggle {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.btn-group > .btn-group:last-child > .btn:first-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
  outline: 0;
}
.btn-group > .btn + .dropdown-toggle {
  padding-left: 8px;
  padding-right: 8px;
}
.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn .caret {
  margin-left: 0;
}
.btn-lg .caret {
  border-width: 5px 5px 0;
  border-bottom-width: 0;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-bottom: 0 dotted;
  content: "";
}
.dropdown {
  position: relative;
}
.dropdown-toggle:focus {
  outline: 0;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0 !important;/*remove important later*/
  margin: 2px 0 0 !important;/*remove important later*/
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: #428bca;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #999999;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.open > .dropdown-menu {
  display: block;
}
.open > a {
  outline: 0;
}
.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990;
}

/* DEVELOPMENT CSS -- DELETE LATER */
.node-type-data-snapshot #main > #sidebar-first {
    display: none;
}

.node-type-data-snapshot #main > #content {
    width: 960px;
}

.node-type-data-snapshot #main > #content > .section {
    padding: 0 10px;
}

/* DEV FOR JOHN KECKS THEME */
/* REMOVE THIS IN LIVE VERSION */

.page-node .col-2-left {
    display: none;
}

.page-node .region-content.grid-9 {
    width: 940px;
}

.page-node .region-inner .group-left,
.dss-interactive-sliders {
    float: left;
    width: 66%;
}

.page-node .region-inner .group-right {
    float: left;
    width: 32%;
    margin-left: 2%;
}

.page-node .region-inner .group-header {
    height: 56px;
    margin-bottom: 10px;
}

.ui-widget {
    border: 1px solid #aaaaaa !important;
}

.field-name-field-ds-dsds-evergreen {
    padding-bottom: 1.4em;
}

.field-name-field-ds-dsds-evergreen p {
    margin-bottom: 0;
}

#page-title {
    display: none;
}

/* END JOHN KECKS THEME */
.dss-interactive-component {
    position: relative;
}

.dss-interactive-slider-wrapper {
    position: relative;
    left: 10%;
    width: 90%;
    height: 100%;
}

.dss-interactive-select-lists {
    float: left;
    width: 32%;
    margin-right: 2%;
}

.dss-interactive-component {
    height: 30px;
}

.dss-interactive-label, .dss-interactive-slider {
    float: left;
}